.vs/TestRestApp/v15/Server/sqlite3/db.lock
.vs/TestRestApp/v15/Server/sqlite3/storage.ide-shm
ContactManager/obj/Debug/ContactManager.dll
ContactManager/bin/ContactManager.pdb
ContactManager/obj/Debug/ContactManager.pdb
.vs/TestRestApp/v15/Server/sqlite3/storage.ide-wal
ContactManager/bin/ContactManager.dll
.vs/TestRestApp/v15/.suo
.vs/TestRestApp/v15/Server/sqlite3/storage.ide
